* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  text-decoration: capitalize; //mayusculas en cada palabra
  transition: 0.2s linear;
  font-family: "Poppins", sans-serif;
  /* Tamaño del scroll */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Estilos barra (thumb) de scroll */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  &::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
}
#WACContainer.WACContainer .WACVisuallyHidden {
  width: 0 !important;
  height: 0 !important;
}
.WACLauncher__ButtonContainer {
  border-radius: 50% !important;

  button {
    border-radius: 50% !important;
  }
}
.div-active {
  opacity: 1 !important;
  position: relative !important;
  top: 0 !important;
}

.post-tamanio {
  height: 158px !important;
}
.posts-tamanio {
  height: calc(100vh - 372px) !important;
  max-height: 675px !important;
}
.hidden-post {
  position: absolute;
  top: -200px;
}
.wsp_logo {
  position: absolute;
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin-right: 95px;
  margin-bottom: 30px;
  z-index: 999;

  a {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #35c421;

    &:hover {
      background-color: #15570c;
    }

    i {
      color: #fff;
      font-size: 22px;
      pointer-events: none;
    }
  }
}
.background {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  svg {
    // height: 100%;
    min-height: 100vh;
  }
}
.b-link {
  background-color: transparent;
  cursor: pointer;
}
.d-none {
  display: none !important;
}
.imgbb-button {
  display: none !important;
  opacity: 0 !important;
}
select{
  padding: 0 10px;
  height: 45px;
  border-radius: 10px;
  background: #ececec;
}

.flag{
  padding: 2px 15px;
  border-radius: 15px;
  color: #fff;
  text-transform: capitalize;
}

.btn_float{
  display: grid;
  place-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #7651de;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  &:hover{
    background: #7751debe;
  }
}

.form-input {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  align-items: baseline;
  font-size: 14px;
}

input,
textarea,
select {
  width: 230px;
  padding: 10px;
  height: 45px;
  border-radius: 10px;
  background: #ececec;
}
textarea{
  resize: none;
  width: 100%;
  height: 100px;
}

.botones {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
  button {
    padding: 0.4rem 1rem;
    color: $color-cuarto;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn{
    padding: 8px 10px;
    min-width: 100px;
    font-size: 14px;
  }
  .btn-reserva{
    min-width: 150px;
    background-color: #0b0333;
    &:hover {
      background-color: #0b0333e6;
    }
  }
  .btn-save {
    background-color: #532cf1;
    &:hover {
      background-color: rgb(108, 80, 223);
    }
  }
  .btn-cancelar {
    background-color: #666565;
    &:hover {
      background-color: #797878;
    }
  }
  .btn-delete {
    background-color: #f33540;
    &:hover {
      background-color: #f74d56;
    }
  }
}

.botones-center{
  justify-content: center;
}

.image-border{
  display: grid;
  place-items: center;
  border-radius: 50%;
  overflow: hidden;
  // border: 2px solid #7054e8;
  img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 2px solid transparent;
    border-radius: 50%;
  }
}

.precio{
  font-weight: 600;
}

.input-seacrh{
  width: 100%;
  padding: 10px 20px;
  height: 45px;
  border-radius: 10px;
  background: #ececec;
}

.content__search {
  background-color: #eeeff0;
  border-radius: 15px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  input {
    width: 100%;
    margin: 0 8px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #000;

    &::placeholder {
      color: #b3b3b3;
    }
  }
  i {
    color: #cacaca;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      i {
        color: $color-primario !important;
      }
    }

    i {
      color: $color-secundario !important;
      font-size: 18px;
      cursor: pointer;
      pointer-events: none;
    }
  }
}

.content-vacio{
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.horario{
  padding: 2px 10px;
  margin: 0 0 0 10px;
  background: #d2c9ff;
  color: #000 !important;
  font-size: 15px;
  text-transform: lowercase;
  border-radius: 10px;
}