* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  text-decoration: capitalize; //mayusculas en cada palabra
  transition: 0.2s linear;
}
