$color-primario: #0b0333;
$color-secundario: #1e088c;
$color-tercer: #7054e8;
$color-cuarto: rgb(250, 248, 248);
$color-boton: #6849e6;
$color-boton-hover: #7351fdce;
$color-subtitulo: rgb(180, 180, 180);
$color-footer-derecho: #100348;

$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
$color-quinto: #959595;
$color-sexto: #ffffff24;
