$color-principal: #1f3291;
$color-secundario: #b29cef;
$color-tercero: #7252b3;
$color-cuarto: #87e3fa;
$color-quinto: #e1f3ff;
$color-google: #fe3727;
$color-facebook: #1977f3;
$color-input: #cdcbcb;

$color-header: #697ff1;
