$color-primario: #0b0333;
$color-secundario: #1e088c;
$color-tercer: #7054e8;
$color-cuarto: #fff;
$color-boton: #6849e6;
$color-boton-hover: #7351fdce;
$color-subtitulo: rgb(180, 180, 180);

$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$color-quinto: #959595;
$color-sexto: #ffffff24;
