.calendario {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  .calendario__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mes-picker {
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .anio-picker {
      display: flex;
      align-items: center;
      .anio-change {
        width: 40px;
        border-bottom: 50%;
        display: grid;
        place-items: center;
        margin: 0 10px;
        cursor: pointer;
        pre {
          margin: 0;
        }
      }
    }
  }
  .calendario__body {
    padding: 1rem;
    .calendar-mes-dia {
      height: 20px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-size: 14px;
      font-weight: 600;
      div {
        display: grid;
        place-items: center;
      }
    }
    .calendario-dias {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1px;
      div {
        width: 50px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        position: relative;
        cursor: pointer;
        animation: to-top 1s forwards;
      }
    }
  }
  .mes-lista {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    background-color: aquamarine;
    visibility: hidden;
    pointer-events: none;
    padding: 1rem;
    align-items: center;
    text-align: center;
    &.show {
      transform: scale(1);
      visibility: visible;
      pointer-events: visible;
      transition: all 0.2s ease-in-out;
    }
  }
}
