@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
}

.wrapper_ {
  font-family: "Lato", sans-serif;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns:
      calc(50% - 16px)
      50%;
    grid-template-rows: 100%;
  }
}

.o-top {
  object-position: top !important;

  @media screen and (min-width: 1024px) {
    object-position: center !important;
  }
}

.wrapper_ > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  // object-position: top;
  border-radius: 30px;
  display: block;
  padding: 16px;
  order: 2;

  @media screen and (min-width: 1024px) {
    height: 100%;
    max-height: 650px;
  }
}

//CAJAS DE TEXTO

.right_ {
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: 3px solid #1f3291;
  padding: 0 3%;
  padding-top: 1.5rem;

  @media screen and (min-width: 1024px) {
    height: 45%;
  }
}

.left_ {
  width: 100%;
  height: auto;
  border-radius: 30px;
  border-color: black;
  border: 3px solid #1f3291;
  padding: 0 3%;
  padding-top: 1.5rem;
  margin-bottom: 2.5%;
  margin-top: 2.5%;

  @media screen and (min-width: 1024px) {
    height: 45%;
  }
}

// ICONOS
.left_::before {
  content: "";
  background: url(../../icons/intro1.svg) center center no-repeat;
  display: block;
  height: 4rem;
  margin: 0 auto;
}

.right_::before {
  content: "";
  background: url(../../icons/intro2.svg) center center no-repeat;
  display: block;
  height: 4rem;
  margin: 0 auto;
}

.desc_ {
  margin-top: 20px;
}

.col_ {
  padding: 16px;
}
