.dashboard {
  height: 100vh;
  // background: $color-quinto;
  .dashboard-contenedor {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: calc(100vh - 50px);
    max-height: 900px;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .dashboard__item {
      position: static;
      display: flex;
      flex-direction: column;
      .card {
        margin: 0.5rem 0;
        width: 100%;
        border: 1px solid #6c757d17;
        border-radius: 10px;
        background-color: #f7f7f7;
        .titulo {
          background: #697ff1;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color: #fff;
          width: 100%;
          height: 30px;
          padding: 1.5rem;
          display: flex;
          align-items: center;
          font-size: 1rem;
          i {
            margin-right: 1rem;
          }
          h5 {
            font-size: 1rem;
            margin: 0;
            padding: 0;
          }
        }
        .card-content {
          ul {
            width: 100%;
            padding: 0 1rem;
            margin: 0;
            height: 150px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .card-estado {
              filter: grayscale(100%);
              transition: 0.5s all ease-in-out;
              &:hover {
                filter: none;
              }
              &.on {
                filter: none;
              }
            }
            li {
              cursor: pointer;
              text-decoration: none;
              list-style: none;
              img {
                width: 60px;
              }
            }
          }
        }
      }
      .card-resumen {
        height: 200px;
        display: flex;
        justify-content: center;
      }
      .card-estadistica {
        height: 250px;
      }
      .card-emocion {
        height: 200px;
      }
      .card-calendario {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 325px;
      }
      .card-recomendacion {
        height: 325px;
      }
      .card-publicacion {
        //smax-height: 1000px;
        .publicacion-nueva {
          width: 90%;
          height: max-content;
          margin: 0.5rem auto 0 auto;
          padding: 1rem;
          background-color: #c5eef8;
          border-radius: 0.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          h5 {
            font-size: 1rem;
          }
          form {
            text-align: right;
            textarea {
              width: 100%;
              height: 60px;
              padding: 0.5rem;
              outline: none;
              border: none;
              resize: none;
            }
            button {
              margin: 0.2rem 0;
              padding: 0.4rem 1rem;
              font-size: 14px;
              border: none;
              background-color: $color-principal;
              border-radius: 10px;
              color: $color-quinto;
              transition: 0.5s all;
              &:hover {
                background-color: #273eb1;
              }
            }
          }
        }
        .nav-tabs {
          width: 90%;
          margin: auto;
        }
        .tab-content {
          width: 90%;
          margin: auto;
        }
      }
    }

    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
      .card-resumen {
        height: 30%;
      }
      .card-estadistica {
        height: 40%;
      }
      .card-emocion {
        height: 30%;
      }
      .card-publicacion {
        height: 100%;
      }
      .card-calendario {
        height: 50%;
      }
      .card-recomendacion {
        height: 50%;
      }
    }
  }
}
.dashboard-link {
  display: block;
  width: 100%;
}

.content-box {
  display: grid;
  padding: 16px;
  grid-template-columns: auto 1fr;
  gap: 16px;
  text-align: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.content-box-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 16px;

  select {
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

.graf {
  height: 100%;
  display: flex;
}
.video {
  width: 50px;
  position: absolute;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: -28px;
}
