.detalle-perfil {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  padding: 1rem;
  overflow-x: hidden;
  height: calc(100vh - 24px);
  max-height: 1024px;
  /* Tamaño del scroll */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Estilos barra (thumb) de scroll */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  &::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }

  h3 {
    color: $color-primario;
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  .pregunta {
    .pregunta-content {
      width: 90%;
      // height: calc(100% - 70px);
      height: 100%;
      margin: auto;
      border-radius: 10px;
      border: $border;
      box-shadow: $box-shadow;
      text-align: center;
      h5 {
        margin: 1rem 0;
        font-size: 14px;
        font-weight: 500;
        color: $color-primario;
      }
      textarea {
        width: 90%;
        margin: auto;
        height: 50px;
        resize: none;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid rgb(219, 219, 219);
        &::-webkit-scrollbar {
          width: 8px;
        }

        /* Estilos barra (thumb) de scroll */
        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:active {
          background-color: #999999;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #b3b3b3;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        /* Estilos track de scroll */
        &::-webkit-scrollbar-track {
          background: #e1e1e1;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-track:hover,
        &::-webkit-scrollbar-track:active {
          background: #d4d4d4;
        }
      }
      .animo-content {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        li {
          background-color: #c8bcfd;
          padding: 5px 13px;
          border-radius: 10px;
          font-size: 0.8rem;
          cursor: pointer;
          &:hover {
            background-color: #d2c8fc;
          }
          &.on {
            background-color: #8eb0f0;
          }
        }
      }
      .botones {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        button {
          padding: 5px 1rem;
          border-radius: 10px;
          background-color: $color-tercer;
          color: $color-cuarto;
          cursor: pointer;
        }
      }
    }
  }
  .recomendaciones {
    .recomendacion-content {
      display: grid;
      width: 90%;
      margin: auto;
      height: calc(100% - 70px);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem;
      .recomendacion__item {
        width: 100%;
        border: $border;
        box-shadow: $box-shadow;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        gap: 10px;
        display: flex;
        position: relative;
        &:nth-child(2n) {
          flex-direction: row-reverse;
          .recomendacion-descripcion {
            text-align: right;
          }
          span {
            right: 10px;
            left: initial;
          }
        }
        span {
          position: absolute;
          display: block;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          top: 10px;
          left: 10px;
          background-color: $color-subtitulo;
        }
        img {
          width: 100%;
          max-width: 100px;
          height: 80%;
          align-self: center;
          object-fit: cover;
          object-position: center;
          height: 100%px;
        }
        .recomendacion-descripcion {
          h5 {
            margin-top: 10px;
            font-weight: 500;
            color: $color-primario;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
