.face {
  .display-flex {
    display: flex;
  }
  .jc-center {
    justify-content: center;
  }
  .p-absolute {
    position: absolute;
  }
  span {
    padding: 8px 1rem;
    background-color: aquamarine;
    border: 1px solid black;
  }
  .face-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .camara-content {
      background-color: rgb(236, 189, 189);
    }
    .galeria-content {
      background-color: rgb(194, 138, 247);
      .galeria-body {
        .galeria__item {
          img {
            width: 150px;
          }
        }
      }
    }
  }
}
