@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.accordion{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.accordion .contentBx{
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    background: #fff;
    color: #1F3291;
    border-color: black;
    border: 1px solid black;
}

.accordion .contentBx .label {
    width: 100%;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before{
    content: '-';
}

.accordion .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

    p{margin: 0;}
}

.accordion .contentBx.active .content{
    height: max-content;
    padding: 10px;
}

.separador {
    display: inline;
}