@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

.accordion {
  max-width: 800px;
  margin-left: 500px;
}

<<<<<<< HEAD
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.accordion{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.accordion .contentBx{
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    background: #fff;
    color: #1F3291;
    border-color: black;
    border: 1px solid black;
}

.accordion .contentBx .label {
    width: 100%;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
=======
.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background: #fff;
  color: #1f3291;
  font-style: bold;
  cursor: pointer;
  border-color: black;
  border: 1px solid black;
>>>>>>> 627ed1e72bb308b585f089b2a6af79bc281ab61d
}

.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
  content: "-";
}

<<<<<<< HEAD
.accordion .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

    p{margin: 0;}
}

.accordion .contentBx.active .content{
    height: max-content;
    padding: 10px;
}

.separador {
    display: inline;
}
=======
.accordion .contentBx .content {
  position: relative;
  background: #e1f3ff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}
>>>>>>> 627ed1e72bb308b585f089b2a6af79bc281ab61d
