@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

.menu > nav > ul > li {
  font-family: "Lato", sans-serif;
}

.menu > img {
  width: 120px;
  height: 50px;
  float: left;
  padding: 8px;
  margin-top: 14px;
}

header {
  position: relative;
  width: 100%;
  clear: both;
  content: "";
  display: table;
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  margin: 0 auto;
}

.menu > nav {
  float: right;
}

.menu nav ul li {
  list-style: none;
  margin-left: 35px;
  padding: 25px 0px;
  float: left;
  position: relative;
}

.menu nav ul li a {
  text-decoration: none;
  color: black;
}

.btnn {
  border: 0;
  line-height: 0.8;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  border: solid 1px $color-principal;
  background: white;
  color: black;
  cursor: pointer;
}

.btn-outline {
  border: 0;
  line-height: 0.8;

  padding: 7px;
  border-radius: 5px;
  background: $color-principal;
  border: solid 1px $color-principal;
  color: white;
  cursor: pointer;
}

/*---------------header de daschboard---------------*/
.headerDashboard-contenedor {
  width: 100%;
  height: 50px;
  background-color: $color-cuarto;
  .headerDashboard {
    max-width: 1440px;
    height: 50px;
    margin: auto;
    padding: 0 1rem;
    background-color: $color-cuarto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        height: 30px;
      }
    }
  }
}
