.inicio-dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  .detalle-dashboard {
    box-shadow: 1px 0px 2px 1px rgb(0 0 0 / 25%);
    border-radius: 18px;
  }

  .red-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .cabecera {
      width: 100%;
      padding: 16px 24px;
      border-radius: 0 0 20px 20px;
      transition: 0.2s;
      box-shadow: 1px 0px 2px 1px rgb(0 0 0 / 15%);
      height: 340px;
      border: 1px solid #e0e0e0;

      @media screen and (min-width: 1440px) {
        padding: 16px 48px;
      }

      .ultimas-emociones {
        .no-today {
          filter: grayscale(50%);
        }
        .off {
          filter: grayscale(100%);
        }
        .on {
          filter: none;
        }
        .ul {
          display: flex;
          justify-content: center;
          width: 100%;

          .li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;

            img {
              width: 50px;
              border-radius: 50%;
            }
          }

          .active {
            border: 2px solid $color-quinto;
            border-radius: 50%;
            cursor: pointer;

            img {
              border: 1px solid transparent;
              border-radius: 50%;
            }
          }
        }
      }
      .search {
        display: grid;
        height: 40px;
        grid-template-columns: calc(90% - 4px) calc(10% - 4px);
        gap: 8px;
        margin: 16px 0;

        .content__search {
          background-color: #eeeff0;
          border-radius: 15px;
          display: flex;
          height: 40px;
          align-items: center;
          justify-content: space-between;
          padding: 0 16px;

          input {
            width: 100%;
            margin: 0 8px;
            outline: none;
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: #000;

            &::placeholder {
              color: #b3b3b3;
            }
          }
          i {
            color: #cacaca;
          }

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;

            &:hover {
              i {
                color: $color-primario !important;
              }
            }

            i {
              color: $color-secundario !important;
              font-size: 18px;
              cursor: pointer;
              pointer-events: none;
            }
          }
        }
        .new-post {
          background-color: $color-tercer;
          color: #fff;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: $color-secundario;
          }

          i {
            pointer-events: none;
            font-size: 16px;
            position: relative;
            z-index: 995;
            transform: 0.5s;
          }
        }
      }

      .post {
        opacity: 0;

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          textarea {
            width: 100%;
            resize: none;
            height: 125px;
            background-color: #eeeff0;
            border-radius: 15px;
            padding: 12px;
            color: #000;
            font-size: 16px;
          }

          .botones {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .audio {
              display: flex;

              button {
                width: 40px;
                margin-right: 8px;

                i {
                  font-size: 18px;
                }
              }
            }

            .submit {
              width: 25%;
            }

            button {
              margin-top: 16px;
              // width: 35%;
              height: 40px;
              cursor: pointer;
              border-radius: 10px;
              background-color: $color-tercer;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: $color-secundario;
              }
            }
          }
        }
      }
    }

    .cuerpo {
      overflow-y: scroll;
      max-height: calc(100vh - 182px);
      height: 100%;
      width: 100%;
      background-color: #f0f2f5;
      border-radius: 15px;

      /* Tamaño del scroll */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Estilos barra (thumb) de scroll */
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      /* Estilos track de scroll */
      &::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track:hover,
      &::-webkit-scrollbar-track:active {
        background: #d4d4d4;
      }

      .post {
        margin: 14px;
        padding: 8px 12px;
        border-radius: 10px;
        background-color: $color-cuarto;
        box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 25%);

        h3 {
          color: $color-primario;
          font-size: 16px;
          margin-top: 4px;
        }

        p {
          font-size: 16px;
          margin: 8px 0 12px;
        }

        .botones {
          width: 100%;
          display: flex;
          justify-content: space-between;

          button {
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 8px;
            background-color: #ded6ff;
            color: $color-secundario;

            &:hover {
              background-color: $color-secundario;
              color: #ded6ff;

              i {
                color: #ded6ff;
              }
            }

            i {
              pointer-events: none;
              color: $color-secundario;
            }
          }
        }

        .comentarios {
          margin-top: 12px;
          display: none;

          .comentario {
            background-color: #ececec;
            padding: 4px 8px;
            border-radius: 12px;
            margin: 4px 0;
          }
        }
        .comentarios-show {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
