.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-content {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    .login-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      cursor: pointer;
    }
    .login__item {
      position: relative;
      .login-api {
        .api__item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 350px;
          margin: auto;
          height: 40px;
          box-shadow: $box-shadow;
          border-radius: 15px;
          margin-bottom: 1rem;
          color: $color-cuarto;
          font-weight: 400;
          font-size: 13px;
          cursor: pointer;
          i {
            padding-left: 3rem;
          }
          p {
            width: 100%;
            text-align: center;
          }
        }
        .google {
          background: #cf2323;
          &:hover {
            background: #e93333;
          }
        }
        .facebook {
          background: #1d67df;
          &:hover {
            background: #2d7fef;
          }
        }
      }
    }
  }
}
.formulario-content {
  margin: auto;
  background: #ffffffeb;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 36%);
  min-width: 320px;
  max-width: 500px;
  min-height: 500px;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .titulo {
    font-size: 2rem;
    font-weight: bold;
    color: $color-footer-derecho;
    text-align: center;
    span {
      border-bottom: 1px solid $color-footer-derecho;
    }
  }
  form {
    width: 350px;
    margin: 0 auto;
    .form-group {
      width: 100%;
      height: 45px;
      margin: auto;
      margin-top: 1rem;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      padding: 0 0 0 10px;
      align-items: center;
      font-size: 14px;
      input {
        width: 230px;
        padding: 0 10px;
        height: 45px;
        border-radius: 10px;
        background: #f3f3f3;
      }
    }
    button {
      display: block;
      width: 200px;
      height: 35px;
      margin: auto;
      background: #5240b9;
      color: $color-cuarto;
      border-radius: 10px;
      margin-top: 1rem;
      cursor: pointer;
    }
    .titulo-contrasenia {
      width: 100%;
      text-align: right;
      display: block;
      font-size: 13px;
      margin: 10px 0;
      color: $color-footer-derecho;
    }
    .titulo-registrar {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      a {
        width: auto;
        font-weight: 500;
        margin-left: 5px;
        color: $color-footer-derecho;
        &:hover {
          color: #1d087a;
          text-decoration: underline;
        }
      }
    }
  }
  @media screen and (min-height: 800px) {
    min-height: 700px;
    max-width: 600px;
  }
}
