.auth {
  width: 100%;
  min-width: 370px;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  justify-content: center;
  .auth__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .auth__item-img {
      width: 70%;
    }
    .titulo {
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }
  .link-password {
    width: 100%;
    font-size: 13px;
    text-align: right;
    margin: 0 0 0.7rem 0;
    color: $color-principal;
  }
  .link-registro {
    font-size: 14px;
    .link__item {
      margin-left: 0.5rem;
      color: $color-principal;
    }
  }
}
.login {
  background-image: url("./../../images/bg_auth.png");
  background-repeat: no-repeat;
  background-size: contain;
  .api-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    .api__item {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 0.2rem;
      box-shadow: 1px 1px 2px gray;
      cursor: pointer;
      text-align: center;
      img {
        width: 25px;
        height: 25px;
        font-size: 10px;
      }
      &:first-child {
        background-color: $color-google;
      }
      &:last-child {
        background-color: $color-facebook;
      }
    }

    @media screen and (min-width: 870px) {
      grid-template-columns: 1fr 1fr;
      .auth__item:first-child {
        display: flex;
      }
    }
  }
}

.registro {
  .auth__item:last-child {
    background-color: red;
    display: none;
  }

  @media screen and (min-width: 870px) {
    grid-template-columns: 1fr 1fr;
    .auth__item:last-child {
      display: flex;
    }
  }
}
