.popupEmocion {
  position: absolute;
  margin-top: 60px;
  margin-left: 345px;
  transition: 0.5s;
  display: none;

  .orden {
    .orden-li {
      list-style: none;
      cursor: pointer;

      &:hover {
        .img {
          filter: none;
        }
      }

      .img {
        width: 50px;
        border-radius: 50%;
        position: relative;
        z-index: 999;
      }
    }
  }
  .off {
    filter: grayscale(100%);
  }
}
.popup-show {
  display: flex;
}
