.popupEmocion {
  position: absolute;
  top: 60px;
  margin-left: 370px;
  transition: 0.5s;
  display: none;

  .orden {
    .orden-li {
      list-style: none;
      cursor: pointer;

      &:hover {
        .img {
          filter: none;
        }
      }

      .img {
        position: relative;
        font-size: 50px;
        font-family: -webkit-body;
        border-radius: 50%;
        z-index: 999;
      }
    }
  }
  .off {
    filter: grayscale(100%);
  }
}
.popup-show {
  display: flex;
}
